### IDEs & Tools ###
.idea/
.vscode/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Dependencies & Build ###
node_modules/
**/node_modules/
frontend/node_modules/
target/
**/target/
build/
**/build/
frontend/dist/
dist/

### OS Metadata ###
.DS_Store
Thumbs.db
